* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, p {
    text-align: center;
    font-size: 50px;
}

span {
    font-size: 50px;
}

h2, h3 {
    text-align: center;
    font-size: 50px;
}

img {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin-bottom: -90px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

button {
    margin-top: 10px;
    border: none; 
    cursor: pointer;
    background-color: white;
}

button > img {
    width: 50px;
}



